<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">CAESAR'S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>

    <form class="navbar-nav" method="POST" action="/logout">
      <input type="image" class="logout-btn"src="/images/logout_icon.png" alt="Submit">
    </form>
      <form class="navbar-nav" method="GET" action="/orders">
        <input type="image" src="/images/Caesar-small.png" style="width: 48px; height: 48px" alt="Submit">
      </form>

  </nav>
</header>
