<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">CAESAR'S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>

      <div class="navbar-nav">
        <img src="./images/icon-people-circle.svg" style="width: 48px; height: 48px">
      </div>

  </nav>
</header>
