.cart-page-header {
  display: flex;
  align-items: center;
}

.cart-h2 {
  margin-bottom: 0;
  margin: 0 auto;
  z-index: 999;
}

.back-icon {
  font-size: 50px;
  z-index: 888;
}

.cart-item {
  display: flex;
  background-color: #E35645;
  flex-wrap: wrap;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.cart-article-header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  font: bold 30px Lato, sans-serif;
  padding: 10 10 10 10;
}

.article-left {
  display: flex;
  align-items: flex-start;
}

.pic-container {
  background-color: white;
  border-radius: 8px 0 0 8px;
}

.cart-item-pic {
  width: 40%;
  height: 40%;
  float: left;
}

.cart-item-info {
  float: right;
  margin-left: 16px;
  margin-top: 10px;
  font-size: 36px;
}

.cart-quantity {
  margin-top: 10px;
  margin-right: 10px;
}

.cart-section {
  display: flex;
  justify-content: space-between;
  background-color: #E7F2D6;
  font: bold 32px Lato, sans-serif;
  border-radius: 8px;
  padding: 20px;
  height: 100px;
  margin: 20px 0px;
  align-items: center;
}
