// See: https://sass-lang.com/
$greenbtn: #ABD148;
body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.quantity {
  display: flex;
  flex-direction: row;
}

.open-card {
  background-color: #51832D;
  color: #FFFFFF;
  padding: 10 10 10 10;
}

.item-header {
  display: flex;
  justify-content: space-between;
  font: bold 24px Lato, sans-serif;
}

.button {
  background-color:  $greenbtn;
  margin: 0 0 0 0;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
}

input[type=text] {
  float: left;
  width: 40px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
}
