@font-face {
  font-family: Intro;
  src: url("../fonts/IntroBlackInline.otf");
}

.textfield-common {
  width: 200px !important;
  height: 40px !important;
  margin: 1em 1em 0 0;
  padding: auto auto;
  border-radius: 5px;
}

#btn-login {
  margin: 1em 0 0em 0em;
}
