$greenCard: #51832D;
$greenBtn: #abd148;
$bgColor: #eee;
$orange-red: #e35645;
$btnOrange: #f2753f;
$black2: #222222;


.text-message {
  font: 20px Lato, sans-serif !important;
}

// .order-detail {
//   font: bold 24px Lato, sans-serif;
//   display: flex;
//   background-color: $lightYellow;
//   flex-wrap: wrap;
//   padding: 8px;
//   border-radius: 8px;
//   width: 100%;
//   height: 100%;
//   margin-bottom: 20px;
//   color: $black2;
// }
