$greenCard: #51832D;
$greenBtn: #abd148;
$bgColor: #eee;
$orange-red: #e35645;
$btnOrange: #f2753f;
$black2: #222222;
$black3: #444444;
$lightYellow: #c8d148;


.orders-item {
  font: bold 24px Lato, sans-serif;
  display: flex;
  background-color: $lightYellow;
  flex-wrap: wrap;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  color: $black2;
}

// .card-header {
//   display: flex;
//   justify-content: space-between;
// }
// .order-detail {
//   color: white;
// }

// .card-subtile {
//   color: $greenCard;
// }


.card-subtile {
  font-size: 22px;
  color: $black3;
}

.order-line {
  width: 100%;
border-bottom: 1px solid $greenCard;
}
